body{
  background: #add8e6;
  color: #003366;
  font-family: 'Titillium Web', sans-serif;
}

h1 { letter-spacing: 13px ;}

::placeholder{ color:#003366;}

button { 
  background:#003366 ;
  color: #fff; 
  border: none;
  padding: 1em; 
  border-radius: 4px;
  margin-left: 5px;
}
input{
  padding: .85em;
  border-radius: 4px;
  background: #add8e6;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .Rotate-circle {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.circle-large {
  width:  4em;
  height: 4em;
  background: #003366;
  border-radius: 50%;
  margin: 5em auto;
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Spin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
